<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <link rel="stylesheet" th:href="@{../css/user-page.css}">
</head>
<body>

<!-- User Page -->
     <div class="user-page">
     
	  <h2>Welcome!, <span>[[${user.getFullname()}]]</span></h2>
	  
	   <article>
		   This is a Chat App designed to let you make  Acquaintance's from across the Globe
	   </article>
      
     </div>

     <div class="sidebar">
   	 
        <span sec:authorize="isAuthenticated">
		  <a class="logout" th:href="@{/logout}">
			  Logout
		  </a>
	  </span>
     </div>

     <div class="container">
		 
		 <h1>Chat App</h1>
		 
       <a href="/chat"><button>Link to the ChatRoom</button></a>
    
    </div>

</body>
</html>
